*,
*:after,
*:before {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 10px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.content-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid black;
  padding: 20px;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
}

.country h3 {
  display: flex;
}

h3 span {
  padding: 0px 30px;
}

.footer {
  font-size: 10px;
}
